.card {
    margin-top: 80%;
    border-color: transparent;
    background-color: cornflowerblue;
    border-radius: 0;
}

.card-footer {
    border-top: 1%;
    border-color: white;
    text-align: center;
}

.card-body{
    display: flex;
    justify-content: space-between;
}

.card-title,.contact-info,.areas-covered {
    flex: 1;
}